<input type="text" #roomName placeholder="Enter room name" id="room-name"/>
<button (click)="sendRoomName(roomName)">Send</button>
<button (click)="createOffer()">startCall</button>
<div #videoGrid class="video-grid">
    <video #localVideo (click)="switchLocalToRemoteSrc()" [muted]="true" class="local-video" autoplay playsinline></video>
    <video #remoteVideo class="remote-video" autoplay playsinline></video>
    <div class="call-action">
        <button class="mute-video" (click)="muteVideo()">{{this.isVideo ? 'Hide' : 'Unhide'}} video</button>
        <button class="mute-audio" (click)="muteAudio()">{{this.isAudio ? 'Mute' : 'Unmute'}}</button>
    </div>
</div>
<section *ngIf="isGettingACall" class="getting-call-modal">
    <h1>You having a phone call !</h1>
    <button (click)="answerCall(true)">Answer</button>
    <button (click)="answerCall(false)">Deny</button>
</section>